$colors: ("light-pink":#F8B195,"pink":#F67280,"white":#FFFFFF,"light-purple":#C06C84,"purple":#6C5B7B,"blue":#355C7D,"green":#FECEA8,"peach":#FF847C)


=button($size:8px)
	text-align: center
	text-decoration: none
	background: none
	padding: $size
	display: inline-block
=hover($color)
	&:hover
		color: map-get($colors,"white")
		background: $color
		border: 1px solid $color
	transition: 0.5s
=color($color)
	border: 1px solid $color
	color: $color
	+hover($color)



.ghost-button
	+button()
	+color(map-get($colors,"light-pink"))
@each $name, $color in $colors
	.#{$name}
		+color($color)
